# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2022 Texas Instruments Incorporated - https://www.ti.com/
#	Hari Nagalla <hnagalla@ti.com>

choice
	prompt "K3 J784S4 board"
	optional

config TARGET_J784S4_A72_EVM
	bool "TI K3 based J784S4 EVM running on A72"
	select ARM64
	select SOC_K3_J784S4
	select BOARD_LATE_INIT
	select SYS_DISABLE_DCACHE_OPS

config TARGET_J784S4_R5_EVM
	bool "TI K3 based J784S4 EVM running on R5"
	select CPU_V7R
	select SYS_THUMB_BUILD
	select SOC_K3_J784S4
	select K3_LOAD_SYSFW
	select RAM
	select SPL_RAM
	select K3_DDRSS
	imply SYS_K3_SPL_ATF

endchoice

if TARGET_J784S4_A72_EVM

config SYS_BOARD
       default "j784s4"

config SYS_VENDOR
       default "ti"

config SYS_CONFIG_NAME
       default "j784s4_evm"

source "board/ti/common/Kconfig"

endif

if TARGET_J784S4_R5_EVM

config SYS_BOARD
       default "j784s4"

config SYS_VENDOR
       default "ti"

config SYS_CONFIG_NAME
       default "j784s4_evm"

config SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "board/ti/common/Kconfig"

endif
