menu "Sandbox architecture"
	depends on SANDBOX

config SYS_ARCH
	default "sandbox"

config SYS_BOARD
	default "sandbox"

config SYS_CPU
	default "sandbox"

config SANDBOX64
	bool "Use 64-bit addresses"
	select PHYS_64BIT
	select HOST_64BIT

config SANDBOX_RAM_SIZE_MB
	int "RAM size in MiB"
	default 128
	range 64 4095 if !SANDBOX64
	range 64 268435456 if SANDBOX64
	help
	  Memory size of the sandbox in MiB. The default value is 128 MiB.
	  The minimum value is 64 MiB. The maximum value is 4095 MiB for the
	  32bit sandbox.

config SANDBOX_SPL
	bool "Enable SPL for sandbox"
	select SUPPORT_SPL

config SYS_CONFIG_NAME
	default "sandbox_spl" if SANDBOX_SPL
	default "sandbox" if !SANDBOX_SPL

choice
	prompt "Run sandbox on 32/64-bit host"
	default HOST_DETECT_BITNESS
	help
	  Sandbox can be built on 32-bit and 64-bit hosts. This is generally
	  auto-detected but you can force a particular word size here. If you
	  see strange warnings about SANDBOX_BITS_PER_LONG then you may have
	  selected the wrong value.

config HOST_32BIT
	bool "32-bit host"
	depends on !PHYS_64BIT
	help
	  Select this if the host is a 32-bit machine. This adjusts various
	  tests and other features to work correctly in this environment. If
	  this option is enabled on 64-bit machines you may get build warnings
	  and/or errors.

config HOST_64BIT
	bool "64-bit host"
	help
	  Select this if the host is a 64-bit machine. This adjusts various
	  tests and other features to work correctly in this environment. If
	  this option is enabled on 32-bit machines you may get build warnings
	  and/or errors.

config HOST_DETECT_BITNESS
	bool "Auto-detect host bitness"
	help
	  Select this if you want the build system to determine the bitness
	  automatically. This compiles a small program during the build, then
	  runs it to determine the bitness using __WORDSIZE (32 or 64 bits).
	  Then it adds one of the above options (CONFIG_HOST_32 or
	  CONFIG_HOST_64) to the configuration when creating it.

	  In rare situations this may fail, e.g. on an unsupported Operating
	  System or toolchain, in which case you will likely get build warnings
	  and errors.

endchoice

config SANDBOX_CRASH_RESET
	bool "Reset on crash"
	help
	  If an illegal instruction or an illegal memory access occurs, the
	  sandbox by default writes a crash dump and exits. If you set this
	  flag, the sandbox is reset instead. This may be useful when running
	  test suites like the UEFI self certification test which continue
	  with the next test after a crash.

config SANDBOX_BITS_PER_LONG
	int
	default 32 if HOST_32BIT
	default 64 if HOST_64BIT

config SYS_FDT_LOAD_ADDR
	hex "Address at which to load devicetree"
	default 0x100
	help
	  With sandbox the devicetree is loaded into the emulated RAM. This sets
	  the address that is used. There must be enough space at this address
	  to load the full devicetree without it overwriting anything else.

	  See `doc/arch/sandbox.rst` for more information.

endmenu
