menu "Vibrator Feedback Support"

config VIBRATOR
	bool "Enable vibration motor support"
	depends on DM
	help
	  Many boards have vibration motorss which can be used to signal status or
	  alerts. U-Boot provides a uclass API to implement this feature. Vibration
	  motor drivers can provide access to board-specific vibration motors. Use
	  of the device tree for configuration is encouraged.

config SPL_VIBRATOR
	bool "Enable vibration motor support in SPL"
	depends on SPL && SPL_DM
	help
	  The vibration motor subsystem adds a small amount of overhead to the image.
	  If this is acceptable and you have a need to use vibration motors in SPL,
	  enable this option. You will need to enable device tree in SPL
	  for this to work.

config VIBRATOR_GPIO
	bool "VIBRATOR support for GPIO-connected VIBRATORs"
	depends on VIBRATOR && DM_GPIO
	help
	  Enable support for vibration motors which are connected to GPIO lines.
	  These GPIOs may be on the SoC or some other device which provides GPIOs.
	  The GPIO driver must used driver model. vibration motors are configured
	  using the device tree.

config SPL_VIBRATOR_GPIO
	bool "Vibration motor support for GPIO-connected vibration motors in SPL"
        depends on SPL_VIBRATOR && DM_GPIO
	help
	  This option is an SPL-variant of the VIBRATOR_GPIO option.
	  See the help of VIBRATOR_GPIO for details.

endmenu
