CONFIG_TARGET_STARQLTECHN=y
CONFIG_ARM=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_SNAPDRAGON=y
CONFIG_IDENT_STRING="\nSamsung S9 SM-G9600"
CONFIG_DEFAULT_DEVICE_TREE="starqltechn"
CONFIG_SYS_TEXT_BASE=0x80000000
CONFIG_POSITION_INDEPENDENT=y
CONFIG_BOARD_EARLY_INIT_F=n
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_DISPLAY_CPUINFO=n
CONFIG_HUSH_PARSER=y
CONFIG_OF_CONTROL=y
CONFIG_DM_STDIO=n
CONFIG_MSM_GPIO=y
CONFIG_DM_PMIC=y
CONFIG_PMIC_PM8916=y
CONFIG_PM8916_GPIO=y
CONFIG_SPMI_MSM=y
CONFIG_CLK=y
CONFIG_NET=n
CONFIG_USE_PREBOOT=y
CONFIG_CMD_GPIO=y
CONFIG_PINCTRL=y
CONFIG_MSM_GENI_SERIAL=y
# CONFIG_DEBUG_UART=y
# CONFIG_DEBUG_UART_MSM_GENI=y
# CONFIG_DEBUG_UART_BASE=0xa84000
# CONFIG_DEBUG_UART_CLOCK=7372800
# CONFIG_DEBUG_UART_ANNOUNCE=y
