if ARCH_MX28

config MX28
	bool
	default y

choice
	prompt "MX28 board select"
	optional

config TARGET_BG0900
	bool "Support bg0900"

config TARGET_XEA
	bool "Support XEA"

endchoice

config SYS_SOC
	default "mxs"

source "board/liebherr/xea/Kconfig"
source "board/ppcag/bg0900/Kconfig"

endif
